<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="icon" type="image/png" href="assets/img/icons/favicon.png">
</head>
<body>

{% include '@components/header.html.twig' %}

{% block maincontent %}
{% endblock %}

{% include '@components/footer.html.twig' %}

<script src="assets/js/bundle.min.js" defer></script>
</body>
</html>