@import 'header';
@import '~bootstrap/scss/bootstrap';
@import 'login';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.logo {
  background: #db1a23;
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #fff;
  display: grid;
}

a {
  color: #000000;

  &:hover {
    color: #000000;
  }
}