{% extends "@grid/page.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                {% for user in site.users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}