{% extends "layouts/page.twig" %}

{% block title %}
    Hjem
{% endblock %}

{% block maincontent %}
    <ul>
        <li>En</li>
        <li>To</li>
        <li>Tre</li>
    </ul>
    <div class="logo"></div>
    <br>
    <img src="../img/test.png" height="200">
{% endblock %}