{% extends "@grid/page.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Frontpage</h1>
                <p>Hmmm..</p>
            </div>
        </div>
    </div>

{% endblock %}